[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/symphonycms/markdown.git
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/symphonycms/maintenance_mode.git
[submodule "extensions/profiledevkit"]
	path = extensions/profiledevkit
	url = git://github.com/symphonycms/profiledevkit.git
[submodule "extensions/debugdevkit"]
	path = extensions/debugdevkit
	url = git://github.com/symphonycms/debugdevkit.git
[submodule "extensions/canofspam"]
	path = extensions/canofspam
	url = git://github.com/symphonists/canofspam.git
[submodule "extensions/html5_doctype"]
	path = extensions/html5_doctype
	url = git://github.com/symphonists/html5_doctype.git
[submodule "extensions/order_entries"]
	path = extensions/order_entries
	url = git://github.com/symphonists/order_entries.git
